<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mymeds"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
 	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Health" >
        <service
            android:name="com.example.mymeds.util.NotificationService"
            android:enabled="true" />

        <receiver android:name="com.example.mymeds.util.AlarmReceiver"/>
        <receiver android:name="com.example.mymeds.util.SnoozeReceiver"/>

        <activity
            android:name="com.example.mymeds.activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SettingsActivity -->
        <activity
            android:name="com.example.mymeds.activities.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_settings" 
            android:screenOrientation="portrait" >
        </activity>

        <!-- MedicationInput Activity -->
        <activity
            android:name="com.example.mymeds.activities.MedicationInputActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/activity_medication_input" 
            android:screenOrientation="portrait">
        </activity>
        <!-- MedicationEdit Activity -->
        <activity
            android:name="com.example.mymeds.activities.MedicationEditActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/activity_medication_edit"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name="com.example.mymeds.tabs.AllMeds"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.example.mymeds.tabs.FutureMeds"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.example.mymeds.tabs.TodaysMeds"
            android:configChanges="orientation|screenSize" />
    </application>

</manifest>