<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mymeds"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        
        <service android:name="com.example.mymeds.util.NotificationService"
                 android:enabled="true" />

        <receiver android:name="com.example.mymeds.util.AlarmReceiver"/>
        <receiver android:name="com.example.mymeds.util.SnoozeReceiver"/>

        <activity
            android:name=".activites.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SettingsActivity -->
        <activity
            android:name="com.example.mymeds.activites.SettingsActivity"
            android:label="@string/activity_settings" >
        </activity>
        <activity android:name="com.example.mymeds.tabs.AllMeds" />
        <activity android:name="com.example.mymeds.tabs.FutureMeds" />
        <activity android:name="com.example.mymeds.tabs.TodaysMeds" />
    </application>

</manifest>